## Dataset Introduction

[Yelp Dataset Challenge](https://www.yelp.com/dataset_challenge)

The Challenge Dataset:

    4.1M reviews and 947K tips by 1M users for 144K businesses
    1.1M business attributes, e.g., hours, parking availability, ambience.
    Aggregated check-ins over time for each of the 125K businesses
    200,000 pictures from the included businesses

Cities:

    U.K.: Edinburgh
    Germany: Karlsruhe
    Canada: Montreal and Waterloo
    U.S.: Pittsburgh, Charlotte, Urbana-Champaign, Phoenix, Las Vegas, Madison, Cleveland

Files:

    yelp_academic_dataset_business.json
    yelp_academic_dataset_checkin.json
    yelp_academic_dataset_review.json
    yelp_academic_dataset_tip.json
    yelp_academic_dataset_user.json

Notes on the Dataset

    Each file is composed of a single object type, one json-object per-line.
    Take a look at some examples to get you started: https://github.com/Yelp/dataset-examples.

## Read data from file and load to Pandas DataFrame

**Warning**: Loading all the 1.8 GB data into Pandas at a time takes long time and a lot of memory

In [1]:
import pandas as pd
import json

In [2]:
ls

Yelp_Data_Preprocessing.ipynb*
Yelp_Dataset_-_Clustering_and_PCA.ipynb*
Yelp_Dataset_-_NLP.ipynb*
Yelp_Dataset_-_Restaurant_Recommender.ipynb*

In [3]:
file_business, file_checkin, file_review, file_tip,file_user = [
    '../data/business.json',
    '../data/checkin.json',
    '../data/review.json',
    '../data/tip.json',
    '../data/user.json'
]

#### Business Data

In [4]:
# open file and read data by row 
f = open(file_business)
first_line = f.readline()
first_line_json = json.loads(first_line)

print (type(first_line))
print (first_line)

print (type(first_line_json))
print (first_line_json)

<class 'str'>
{"business_id":"Apn5Q_b6Nz61Tq4XzPdf9A","name":"Minhas Micro Brewery","neighborhood":"","address":"1314 44 Avenue NE","city":"Calgary","state":"AB","postal_code":"T2E 6L6","latitude":51.0918130155,"longitude":-114.031674872,"stars":4.0,"review_count":24,"is_open":1,"attributes":{"BikeParking":"False","BusinessAcceptsCreditCards":"True","BusinessParking":"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}","GoodForKids":"True","HasTV":"True","NoiseLevel":"average","OutdoorSeating":"False","RestaurantsAttire":"casual","RestaurantsDelivery":"False","RestaurantsGoodForGroups":"True","RestaurantsPriceRange2":"2","RestaurantsReservations":"True","RestaurantsTakeOut":"True"},"categories":"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel","hours":{"Monday":"8:30-17:0","Tuesday":"11:0-21:0","Wednesday":"11:0-21:0","Thursday":"11:0-21:0","Friday":"11:0-21:0","Saturday":"11:0-21:0"}}

<class 'dict'>
{'state': 'AB', 'postal_code': 'T2E 6L6', 'name': 'Minhas Micro Brewery', 'stars': 4.0, 'latitude': 51.0918130155, 'address': '1314 44 Avenue NE', 'longitude': -114.031674872, 'city': 'Calgary', 'hours': {'Thursday': '11:0-21:0', 'Saturday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Monday': '8:30-17:0', 'Friday': '11:0-21:0'}, 'attributes': {'GoodForKids': 'True', 'BikeParking': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsGoodForGroups': 'True', 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}", 'NoiseLevel': 'average', 'RestaurantsTakeOut': 'True', 'RestaurantsDelivery': 'False', 'RestaurantsReservations': 'True', 'OutdoorSeating': 'False', 'BusinessAcceptsCreditCards': 'True', 'RestaurantsPriceRange2': '2', 'HasTV': 'True'}, 'business_id': 'Apn5Q_b6Nz61Tq4XzPdf9A', 'categories': 'Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel', 'review_count': 24, 'neighborhood': '', 'is_open': 1}

In [5]:
with open(file_business) as f:
    df_business = pd.DataFrame(json.loads(line) for line in f)

In [6]:
df_business.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'GoodForKids': 'True', 'BikeParking': 'False'...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Thursday': '11:0-21:0', 'Saturday': '11:0-21...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Caters': 'True', 'GoodForKids': 'True', 'Dri...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Sunday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV

In [7]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

#### Checkin Data

In [8]:
with open(file_checkin) as f:
    df_checkin = pd.DataFrame(json.loads(line)for line in f)
    
df_checkin.head(2)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Thu-16': 1, 'Thu-1': 1, 'Tue-21': 1, 'Fri-14...
1  kREVIrSBbtqBhIYkTccQUg  {'Wed-17': 1, 'Sun-19': 1, 'Sat-21': 1, 'Sat-1...

#### Review Data

In [9]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)

df_review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

#### Tip Data

In [11]:
with open(file_tip) as f:
    df_tip = pd.DataFrame(json.loads(line)for line in f)
    
df_tip.head(2)

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,2ThtBbeDqFkVi6LugUOcVA,2012-11-25,0,Don't use them! Double charged my boyfriend an...,M5n8mMFoeXjnJEV2gxyGGA

#### User Data

In [12]:
with open(file_user) as f:
    df_user = pd.DataFrame(json.loads(line) for line in f)
    
df_user.head(2)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.0,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
1,5.0,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Daipayan,2,0,XvLBr-9smbI0m_a7dXtB7w,2015-09-05

## Filter data by city and category

#### Create filters/masks

* create filters that selects business 
    * that are located in "Las Vegas"
    * that contains "Restaurants" in their category (You may need to filter null categories first)

In [31]:
# Create Pandas DataFrame filters

# City San Jose: bool
cond_city = df_business['city'] == "Las Vegas"

# isnull: bool
cond_category_not_null= ~df_business["categories"].isnull()

# Restaurants in Categories
cond_category_restaurant = df_business["categories"].apply(str).str.contains("Restaurants")

In [32]:
# Create filtered DataFrame, and name it df_filtered
df_filtered = df_business[cond_city & cond_category_not_null & cond_category_restaurant]

#### Keep relevant columns

* only keep some useful columns
    * business_id
    * name
    * categories
    * stars

In [33]:
selected_features = [u'business_id',u'name',u'categories',u'stars']

In [34]:
# Make a DataFrame that contains only the abovementioned columns, and name it as df_selected_business
df_selected_business = df_filtered[selected_features]

In [35]:
# Rename the column name "stars" to "avg_stars" to avoid naming conflicts with review dataset
df_selected_business.rename(columns={"stars":"avg_stars"},inplace=True)

/Users/yuanhsinhuang/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [36]:
# Inspect your DataFrame
df_selected_business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6148 entries, 19 to 188567
Data columns (total 4 columns):
business_id    6148 non-null object
name           6148 non-null object
categories     6148 non-null object
avg_stars      6148 non-null float64
dtypes: float64(1), object(3)
memory usage: 240.2+ KB

In [37]:
df_selected_business.head()

,business_id,name,categories,avg_stars
19,vJIuDBdu01vCA8y1fwR1OQ,CakesbyToi,"American (Traditional), Food, Bakeries, Restau...",1.5
32,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5
33,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0
61,JJEx5wIqs9iGGATOagE8Sg,Baja Fresh Mexican Grill,"Mexican, Restaurants",2.0
141,zhxnD7J5_sCrKSw5cwI9dQ,Popeyes Louisiana Kitchen,"Chicken Wings, Restaurants, Fast Food",1.5

#### Save results to csv files

In [38]:
# Save to ./data/selected_business.csv for your next task
df_selected_business.to_csv("../data/df_selected_business.csv",index=False,encoding="utf-8")

In [40]:
# Try reload the csv file to check if everything works fine
pd.read_csv("../data/df_selected_business.csv").head()

,business_id,name,categories,avg_stars
0,vJIuDBdu01vCA8y1fwR1OQ,CakesbyToi,"American (Traditional), Food, Bakeries, Restau...",1.5
1,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5
2,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0
3,JJEx5wIqs9iGGATOagE8Sg,Baja Fresh Mexican Grill,"Mexican, Restaurants",2.0
4,zhxnD7J5_sCrKSw5cwI9dQ,Popeyes Louisiana Kitchen,"Chicken Wings, Restaurants, Fast Food",1.5

### Use the "business_id" column to filter review data

* We want to make a DataFrame that contain and only contain the reviews about the business entities we just obtained

#### Load review dataset

In [41]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)

df_review.head(1)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g

#### Prepare dataframes to be joined, - on business_id

In [42]:
# Prepare the business dataframe and set index to column "business_id", and name it as df_left
df_left = df_selected_business.set_index('business_id')

In [45]:
# Filter date after '2016-01-01'
# Prepare the review dataframe and set index to column "business_id", and name it as df_right
df_right = df_review[df_review['date']>'2016-01-01'].set_index('business_id')

#### Join and reset index

In [50]:
# Join df_left and df_right. What type of join?
# (Method 1)
df_final = pd.merge(df_left,df_right,on='business_id',how='inner')
df_final.head()
# (Method 2)
#df_final = df_left.join(df_right,how='inner')

,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
business_id,,,,,,,,,,,
kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-07-03,0,c6iTbCMMYWnOd79ZiWwobg,1,"I ordered a few 12 inch sandwiches , a turkey ...",1,ih7Dmu7wZpKVwlBRbakJOQ
kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2018-03-10,0,5iDdZvpK4jOv2w5kZ15TUA,1,Worst subway of any I have visited. I have man...,1,m3WBc9bGxn1q1ikAFq8PaA
kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-12-26,0,oCUrLS4T-paZBr6WnrXg_A,2,Good luck trying to get the order right. The c...,0,H7bJDtGzhdg1fsmBL4KZWg
kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-12-16,0,qXHvWYgL-8yfcGvP_ydKGA,2,Here to get my pick up order at the moment it ...,0,58sXi_0oTgVlM3aUuFYHUA
0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-05-20,0,fpligpiuYVqWPKIo_kG60Q,2,Waited for over 20 minutes for bacon and eggs....,0,A72PrUaUHilrXOgZAM0iVA

In [52]:
df_final.shape

(488769, 11)

In [53]:
# You may want to reset the index df_final
df_final = df_final.reset_index()

In [60]:
# Make a filter that selects date after 2016-01-20
df_final = df_final[(df_final.date>'2016-01-01')]
df_final.shape

(488769, 12)

In [61]:
df_final

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
0,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-07-03,0,c6iTbCMMYWnOd79ZiWwobg,1,"I ordered a few 12 inch sandwiches , a turkey ...",1,ih7Dmu7wZpKVwlBRbakJOQ
1,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2018-03-10,0,5iDdZvpK4jOv2w5kZ15TUA,1,Worst subway of any I have visited. I have man...,1,m3WBc9bGxn1q1ikAFq8PaA
2,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-12-26,0,oCUrLS4T-paZBr6WnrXg_A,2,Good luck trying to get the order right. The c...,0,H7bJDtGzhdg1fsmBL4KZWg
3,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5,0,2016-12-16,0,qXHvWYgL-8yfcGvP_ydKGA,2,Here to get my pick up order at the moment it ...,0,58sXi_0oTgVlM3aUuFYHUA
4,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-05-20,0,fpligpiuYVqWPKIo_kG60Q,2,Waited for over 20 minutes for bacon and eggs....,0,A72PrUaUHilrXOgZAM0iVA
5,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,1,2016-12-29,0,j9l7IMJX9bvWjkJ18EWGpg,5,"My husband & I were visiting the area, found t...",0,ZS7V0uC4kVrJR_4Yi3oTHA
6,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-08-04,0,emkwoEaCBTvQ7p_rosCjUg,4,A little pricey on the surface until your food...,0,G92s8G9KgXYLCm_X9EDYtg
7,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-03-25,0,AMPqJ0nH4xK0_EtZr5xZMA,5,"A very cool little spot, Chicago atmosphere wi...",0,gQXF36BOUVKGz6wCsqpTZw
8,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-04-28,0,5dcIftvq1dAb5SQ9eoO3OQ,4,Hands down best fried zucchini sticks anywhere...,0,x_Men2agHTy6ao9YGFQv-A
9,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-07-19,0,yo5uIPSIZS1FhNLnGG9RcA,5,I usually use Yelp to find places to eat. We c...,0,0uFUGlITaDbJIeZhehgMOA
10,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-03-06,0,m9cZR9wWsSJ-A04C8FAIEw,3,I don't usually rate this low but the reason w...,2,cs0KKAZICsJGhHc-BODN3A
11,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,2,2016-05-01,0,rLfJi5LftaPFuoaj3c_Byw,5,This was our first time here and omg it was ab...,2,dJ_AhP3TpmZblvuLgz_r5Q
12,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-07-02,0,i6dOvpRaz6AFNmKc9VzSEA,4,Service was excellent and we got seated faster...,0,gqSoD7lcdeddrP9NvVXbHw
13,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-02-19,0,GK5pa2V-pzn5dU1MEls2Xw,1,Yuk!!\nIf you want bad service ask for Denise ...,2,_7y9bg96rwEHC9NHOw7BrA
14,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-04-25,0,LQJS-BzWWljPgvYu8NfffQ,4,I ordered the jolly green giant omelet was ama...,0,l0QgEAo2SwhMdmupTRzLwg
15,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-08-22,0,iRoqwphYMFwqxbuKgxDHzw,5,Best breakfast ever in Las Vegas!! Options for...,0,sCwN8gniUMdwaB7PxUwOHw
16,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,1,2016-06-21,0,5J8t_dPuX1wWL91OYfQmOQ,5,This is my first Yelp review. We loved this re...,1,XKidedvMUJ8tLMU7cMe6tA
17,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-04-02,0,cPWrSzbTeqbcdS9nka4Pvg,3,"The food was good, not great, but good. The p...",0,CXTEm80fN8V2k4FuD5ub1g
18,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-07-29,0,U8Ccs-5EYxyv-daJ83FVzg,2,I used to LOVE this place came every weekend. ...,1,kTny8RFBPj9du2aIRb8V0A
19,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-12-07,0,EZNF2VZWRvTTJkgyb6NZZQ,1,I honestly cannot give this a rating as far as...,0,OoUYP1Do5EZ9mfQ4guYd4Q
20,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2018-07-01,0,7WcB_9tdn1K1QhGh8UdRJg,4,The food and service was really good today. ...,0,KrDva16Hzi046LRAzuI2iQ
21,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-01-26,0,5rHmJ7_cQ4lsojUq9ILu0g,4,One of my favorite breakfast spots. The potato...,0,yVpnZbAsJ6byrG5gpY6iPg
22,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-04-24,0,Z0RIcYXRi8ZNo9hq4X1tqw,3,"Food is ok... For the price, I could get the s...",0,ZQWcyNZFRTgJtllvsbQxrw
23,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-04-06,0,5DrsmFDTholUS72raBQ_YQ,5,"At the suggestion of my wife, we decided to tr...",0,cnab2lH02dtnFeh-eQP-sg
24,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-03-29,0,n1nqkTCRmvU_ABZlk0bUxA,5,My wife and son and I tried it for breakfast a...,0,A1uJCJnp_GHMzqxVyAb5vQ
25,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-12-05,0,Vy43PCeG3QK9qKGDh24zzw,4,Overall experience was good. The food portion ...,0,2jpZmvxgqwWS_EQlZhrh2g
26,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-09-14,0,tH7w6thF2WVmzm3VxgkyIQ,5,So Delicious! Omelet is perfect. Thankful se...,0,1mwxnBwu1H6wpS9IAl-O0A
27,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2018-05-11,0,mMZrw9PmajphWC5CyLmTfg,5,This restaurant is a regular stop for my famil...,0,o72GechsIiPtLBaPxpP8ug
28,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2017-01-24,0,QUBc22NG5wJVpkwpA6qCGA,4,We looking for a good spot to have breakfast d...,0,XIYdbSy7Xs2kMyWW24MTiw
29,0jtRI7hVMpQHpUVtUy4ITw,Omelet House Summerlin,"Beer, Wine & Spirits, Italian, Food, American ...",4.0,0,2016-12-08,0,TwGKToCEGwnFs_EBvnRJEQ,5,I had the breakfast of a rarely seen dish in L...,0,vlQkC_flmHbYm-hDfoHiPw
...,...,...,...,...,...,...,...,...,...,...,...,...
488739,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2017-05-17,0,n4R6KUQ7Em7jm-saktYHIA,4,"Political correctness aside, I loved this plac...",1,vz9qr3n7j6ddqOyLiFOzFg
488740,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2016-10-15,0,dIXU72QIv-FqifZZbs1UYQ,4,Stopped here after a wedding in Vegas and it w...,0,f5Y8nn0AZTOCSbc6JieMBQ
488741,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2018-01-13,0,QoMyvmg6J1mIwZcYlBWAyA,5,Great service. Our waitress attended to us fr...,0,f3LWoSyvPmma3tAD5dcgXQ
488742,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2017-02-26,0,esicAo3WkFdzSfQepV-efg,4,"I love the venue. The decor, colors and approa...",0,Qxn7cHf8VtW_UWwyuYmKkg
488743,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2016-08-20,0,aB1vpK2_eRs-krs-fCSFmQ,4,Wife and I were celebrating our 20th anniversa...,0,6-TTMTD3aBq0_EOktd-gUg
488744,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2016-01-23,0,Jj3Inc6dnc2tJzaTK7SxuA,5,Beef stroganoff was excellent. The beef was we...,0,4nf4Bfo7UAdykULL1-MwLA
488745,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,2,2017-12-05,0,K_HTwn6d1ovAX3wA_1fZHA,5,I love love love this bar. The few times I hav...,2,kW5doklmAj0sZDZdrCjbfg
488746,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2017-11-12,0,tJxJdQCUAUgkMbcz8HD5Uw,4,Great food and Good service. My husband had th...,0,hDEc8lqswKYy1GL1UvMyJA
488747,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2016-04-11,0,DoG_dILHQ2YQ4xCmr5dHww,2,"Food was ok, not like I remembered it a 2 year...",0,BoYt84cqFcBE5FqDUGtk-g
488748,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2016-11-28,0,hqQX6WOuuYC5VuBcKzgpjg,5,BEAUTIFUL bar. Very knowledgeable and efficie...,0,5a5tpKfJpv4XVb66v9UZbQ
488749,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2017-05-17,0,5FEGEnG5QesTj85cgUdsRA,4,The food was really good but the service was s...,0,PWS6InBVkMcPLJoOVMqwcQ
488750,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2017-06-20,0,i4qy0dXVMToOdNyl8-rJ1w,5,Was meeting a friend for drinks and we thought...,1,IhY66GZIeA9jTjwPRVhpLQ
488751,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,1,2018-02-19,0,s-f2t0hyOuAt5lX1zDibGg,4,New Menu. Great Food. Fantastic Service. No co...,1,rV_6AC3lCEUAA2FHYyr8NA
488752,g62SlImzhs6_1t-knPjd8w,Red Square Restaurant & Vodka Lounge,"Casinos, Steakhouses, Bars, Nightlife, Restaur...",4.0,0,2018-03-09,0,ACoxGHocN5oBiCZNGF9u3A,1,Yucky food! We order the salmon and filet mign...,1,jzxLik-09loQJBBl0W8NFw
488753,UNsvHecpu_sPBeQGFxSCUA,Monthathong Thai Restaurant,"Restaurants, Thai",4.5,1,2017-05-29,0,lvgmUVpIXviFMVmZde85jw,5,This place is kind of hidden. It's a cute plac...,0,foHszZ5L5VnjNP8qtzhs2w
488754,UNsvHecpu_sPBeQGFxSCUA,Monthathong Thai Restaurant,"Restaurants, Thai",4.5,0,2017-06-12,0,YTpo-8Du68128gszaplVtw,3,So this is the first time I have ate here sinc...,0,9SOM8QgW_JYr1-FCTSHopQ
488755,UNsvHecpu_sPBeQGFxSCUA,Monthathong Thai Restaurant,"Restaurants, Thai",4.5,1,2017-06-13,0,UPmraenMz9QoCsO3t4eeAw,5,What a pleasant surprise! We came in to get ta...,0,HpY0DHQVKnoGR2FeKwPWHw
488756,UNsvHecpu_sPBeQGFxSCUA,Monthathong Thai Restaurant,"Restaurants, Thai",4.5,1,2017-06-08,0,yJsbLd9Po97F0rUv-RCALw,5,I was hungry for Thai and thought I'd try this...,0,wmE7kY21MnhX2_wQdeKz7A
488757,UNsvHecpu_sPBeQGFxSCUA,Monthathong Thai Restaurant,"Restaurants, Thai",4.5,0,2017-06-11,0,3XZiXFYY2k0_zInbf6Z4SA,4,Ordered online through Eat24. The app didn't a...,0,EWzs7KybnyPNurkBcidCzg
488758,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2017-08-03,0,zixVeIqwzMCUlDMFEcRNHg,5,Updated my review from 4 stars to 5. Today I w...,0,4ojwa7X1fWPGNOrtqXfZcw
488759,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2017-01-09,0,cuR4v0ZGAfNEm5LebPsziA,2,"I feel bad for the employees here, they were i...",0,jnTNXzepydN2iegBJtuTqg
488760,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2016-05-23,0,If6Z_SQdJ2wYO5sDivca-g,1,"WORST SANDWICH I'VE EVER EATEN!!!\n\nOkay, I'm...",0,adJMoI3num6EVv9h0VOb_A
488761,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2018-05-18,0,SQ0zDY_6MzuFI7nuIPBkOw,1,They say 24 hrs but I just walked here at 1057...,0,3RC17rKBtcwqMgeclQFKng
488762,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2017-06-16,1,WsGNJWr_x0II8Sls-IiggA,1,I am ONLY giving one star because you all alwa...,0,AXxvtYcySRoJP63uAGTvCQ
488763,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2018-01-21,0,2yrItAEHEaXelXqt8vsEkQ,1,Stopped tonight after a long hard day... had n...,0,MkjBwkCSKXd85F5uUB-RJg
488764,8w2Mzdz-JKy3qOpndK1Wqw,Subway,"Sandwiches, Fast Food, Restaurants",2.0,0,2017-05-17,0,MMxuxIho-zkyXZ5UlKSRHQ,3,This subway never has soups and that is the ma...,0,hu_t5Clo2Z2z1y71VR3Ogw
488765,0zGeYN8ReYwVj27U7EHOJA,American Cafe,"Delis, Restaurants, American (Traditional)",2.5,0,2017-05-01,0,ptwih-ZW5QGHzTecExD3yg,3,Food was good but for what was offered and alo...,0,MU18LuTIhGETBXMpRq4AJw
488766,0zGeYN8ReYwVj27U7EHOJA,American Cafe,"Delis, Restaurants, American (Traditional)",2.5,0,2016-03-30,0,xX2p2S0jPce9iFsstGTncw,4,I had a great experience for breakfast here. Y...,1,cgPS-sS4P2sGmVZbx6J5rQ
488767,0zGeYN8ReYwVj27U7EHOJA,American Cafe,"Delis, Restaurants, American (Traditional)",2.5,0,2017-04-25,0,k3tk9VfZ1Vpjhr220bSpBQ,4,Sometimes getting a regular breakfast near whe...,0,juPjEdGalERhRelV3T20Sw
488768,0zGeYN8ReYwVj27U7EHOJA,American Cafe,"Delis, Restaurants, American (Traditional)",2.5,0,2018-04-07,0,ydJ335F0N_fy1gT-VXX8yw,2,This cafe is located in the NYNY casino.. we m...,1,9d2nHTp-txs4INOyKDrf-A

#### We further filter data by date, e.g. keep comments from last 2 years

* Otherwise laptop may crush on memory when running machine learning algorithms
* Purposefully ignoring the reviews made too long time ago

#### Take a glance at the final dataset

In [138]:
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

In [105]:
import datetime
df_final["date"] = pd.to_datetime(df_final["date"])
df_final["date"].dt.year

0         2016
1         2018
2         2016
3         2016
4         2016
5         2016
6         2016
7         2017
8         2017
9         2017
10        2016
11        2016
12        2016
13        2017
14        2016
15        2017
16        2016
17        2016
18        2016
19        2016
20        2018
21        2016
22        2016
23        2016
24        2017
25        2017
26        2016
27        2018
28        2017
29        2016
          ...
488739    2017
488740    2016
488741    2018
488742    2017
488743    2016
488744    2016
488745    2017
488746    2017
488747    2016
488748    2016
488749    2017
488750    2017
488751    2018
488752    2018
488753    2017
488754    2017
488755    2017
488756    2017
488757    2017
488758    2017
488759    2017
488760    2016
488761    2018
488762    2017
488763    2018
488764    2017
488765    2017
488766    2016
488767    2017
488768    2018
Name: date, Length: 488769, dtype: int64

In [177]:
# e.g. calculate counts of reviews per business entity, and plot it

df_final["year"]=df_final["date"].dt.year
df_reshaped = df_final[["name","year","review_id"]]
df_reshaped.head()

                     name  year               review_id
0                  Subway  2016  c6iTbCMMYWnOd79ZiWwobg
1                  Subway  2018  5iDdZvpK4jOv2w5kZ15TUA
2                  Subway  2016  oCUrLS4T-paZBr6WnrXg_A
3                  Subway  2016  qXHvWYgL-8yfcGvP_ydKGA
4  Omelet House Summerlin  2016  fpligpiuYVqWPKIo_kG60Q

In [ ]:
from pandasql import PandaSQL,sqldf
pdsql = PandaSQL()


q = """
select name,year,count(review_id) as reviews
from df_reshaped
group by name,year
"""

df_new = pdsql(q)

sns.barplot(x="name",y="reviews",hue="year",data=df_new)

plt.tight_layout()
plt.show()

## Save preprocessed dataset to csv file

In [ ]:
# Save to ./data/last_2_years_restaurant_reviews.csv for your next task

In [ ]:
df_final.head(1)

In [ ]:
path = "../data/yelp_restaurant_reviews.csv"
df_final.to_csv(path,index=False)